<html>
<center>
    <h1>BLENZE</h1>
    <p>BLENZE has been an expert in the beauty industry for 50 years and was <br>
        India's first beauty brand to introduce make-up to Indian women. Taking<br>
        forward its heritage from brand BLENZE, BLENZE Salon has been <br>
        committed to best professional beauty services across hair,
        <br> skin & make-up for more than 35 years.</p>
    <img src="{{ url_for('static', filename='images/beauty_salon_6.jpg') }}" alt="BLENZE Salon"><br>
    <figcaption><h3>BLENZE Salon</h3></figcaption>
    <h1>WHY CHOOSE BLENZE SALON ??</h1>
    <p>Weddings are all about creating memories with your loved ones. And picture-perfect <br>
     memories require you to look flawless! Who better than the pioneers of<br>
      beauty in India to help you achieve that perfect look on your big <br>
      day? For decades, BLENZE Salon has been assisting Indian brides<br>
       across the country in looking their absolute best on the most <br>
       important day of their lives. BLENZE Salon helps brides slay every <br>
       occasion and sparkle unapologetically. The experts at BLENZE Salon are
       <br> here to ensure you put your best face forward and create those<br>
        picture-perfect memories.</p>
    <img src="{{ url_for('static', filename='images/beauty_salon_4.jpeg') }}" alt="Salon Interior">
</center>

</html>